@charset "UTF-8";

.full-width {
	margin: auto;
	padding: 0.25rem;
	text-align: center;
	width: 99%;
}

.ui-panelgrid-header {
	font-size: 2rem;
	background-color: #1F7ED0;
	color: #FFFFFF;
	margin-bottom: 0.2rem;
	border-radius: 5px;
}

.ui-panelgrid-footer {
	font-size: 1rem;
	color: white;
	margin-bottom: 0.2rem;
	border-radius: 5px;
	text-align: center !important;
}

.ui-widget-header {
	border: none !important;
}

.ui-button-icon-only {
	width: auto !important;
}

.centered {
	text-align: center;
}

body {
	background-color: #424548;
}

.video {
	background-image: url("#{resource['img/video.png']}") no-repeat
		!important;
}